body {
    overflow: hidden;
}

@keyframes slideFadeIn {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sleep {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        transform: translateY(25%);
        opacity: 0;
    }
}

#myBody {
    & a {
        color: white;
        text-decoration: none;
    }

    & #cont {
        display: flex;
        justify-content: center;
    }

    & #button, #button1, #button2 {
        width: 15em;
        background: #359;
        border-radius: 0.75em;
        padding-block: 1.25em;
        padding-inline: 1em;
        transition: background 0.3s ease-in-out;
        margin-bottom: 1em;

        &:hover {
            background: #248;
        }
    }
     
    & > * {
        margin-top: 2em;
        text-align: center;

    }

    & > #welcome {
        margin-top: 2em ;
        margin-bottom: 4em;
    }

    & h4 {
        margin-block-start: 0 !important;
        margin-top: 0;
    }

    & #buttons {
    }

    animation: 1s ease-out 0s 1 slideFadeIn;

    & #browse {
        animation: 1s ease-out 1.25s 1 slideFadeIn, 1.25s ease-out 0s 1 sleep;
    }

    & #login {
        animation: 1s ease-out 2.25s 1 slideFadeIn, 2.25s ease-out 0s 1 sleep;
    }
}
