* {
    font-family: "Spline Sans", sans-serif;
}

body {
    margin: 0;
}

#navbar {
    padding: 1em;
    background: #ddd;
    display: flex;

    & #title {
        text-decoration: none;

        & a {

            & h1 {
                color: #359;
                margin-block-start: 0;
                margin-block-end: 0;
                transform: translateY(0.2em);
            }
        }
    }

    & #main {
        margin-left: 1em;
        margin-right: auto;
    }

    & #user {
        margin-left: auto;
        margin-right: 1em;
    }
    
    & #user {
        margin-block: 1em;
        display: flex;
        & a {
            margin-left: 1em;
            background: #359;
            color: #fff;
            border-radius: 0.75em;
            text-decoration: none;
            padding-block: 0.75em;
            padding-inline: 1em;
            transition: background 0.3s ease-in-out;

            &:hover{
                background: #248;
            }
        }
    }

    & #main {
        margin-block: 1em;
        & a {
            margin-right: 1em;
            background: #bbb;
            color: #000;
            border-radius: 0.75em;
            text-decoration: none;
            padding-block: 0.75em;
            padding-inline: 1em;
            transition: background 0.3s ease-in-out;

            &:hover{
                background: #aaa;
            }
        }
    }
}

