h2 {
    margin-top: 0;
    & * {
        color: #359;
    }
}

#git {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

img {
    width: 14em;
    height: 14em;
}

#team {
    & ul {
        text-align: center;
        padding-left: 0;
    }

    & li {
        display: inline-block;
        width: 15em;
        min-height: 20em;
        margin: 2em;
        border-radius: 2em;
        text-align: center;
        vertical-align: top;
        justify-content: center;
        background: #ddd;
        color: #000;
        padding: 2em;
    }
}

#circle-image {
    width: 14em;
    height: 14em;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 1em;
}
